<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zephyr</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>

<body>

    <nav class="navbar">
        <div class="nav-left">
            <a href="{% url 'posts:feed' %}" class="logo">Zephyr</a>
        </div>

        <div class="nav-right">
            {% if request.user.is_authenticated %}
            <a href="{% url 'posts:create' %}">New</a>
            <a href="{% url 'accounts:profile' request.user.username %}">Profile</a>
            <a href="{% url 'accounts:password_change' %}">Password</a>
            <form method="post" action="{% url 'accounts:logout' %}" style="display:inline;">
                {% csrf_token %}
                <button type="submit" class="logout-btn">Logout</button>
            </form>
            {% else %}
            <a href="{% url 'accounts:login' %}">Login</a>
            <a href="{% url 'accounts:signup' %}">Sign Up</a>
            {% endif %}
        </div>
    </nav>

    <main class="container">
        {% block content %}
        {% endblock %}
    </main>

</body>

</html>